html
	head
		title="Psychic Octophant - A Project Manager"
		link(href="css/stylesheet.css" rel="stylesheet")
	body
		section.itemList
			a(href="projects.html")
				.item
					table.itemTable
						tr
							td.shrink
								.tableWrapper
									img.itemImage(src="http://lorempixel.com/100/100/abstract/")
								
							td
								h3.itemName.left Dressiety
								p.itemDescription.left Eine Modeplattform