html(ng-app='psychicOctophant')
	head
		title="Psychic Octophant - A Project Manager"
		link(href="css/stylesheet.css" rel="stylesheet")
		script(src="js/angular.js")
	body
<<<<<<< HEAD
		section.itemList
			each company in companies
				a(href="/ProjectList?companyId="+company._id)
					.item
						table.itemTable.horiz-center
							tr
								td.shrink
									.tableWrapper
										if company.image
											img.itemImage(src="/image/"+company.image)
										else 
											img.itemImage(src="http://lorempixel.com/100/100/abstract/")
								td
									h3.itemName.left= company.name
									p.itemDescription.left= company.description
								td
									.tableWrapper
										a(href="/CompanyEdit?companyId="+company._id)
											img.icon(src="img/edit.png")
=======
		section.itemList(ng-controller="companyListController")
			
			a(href="/ProjectList" ng-repeat="company in companies")
				.item
					table.itemTable.horiz-center
						tr
							td.shrink
								.tableWrapper
									img.itemImage(src="{{company.img}}")
							td
								h3.itemName.left {{company.name}}
								p.itemDescription.left {{company.description}}
							td
								.tableWrapper
									img.icon(src="img/edit.png")
>>>>>>> origin/master
			a(href="/CompanyAdd")
				img.icon(src="img/add.png")