html
	head
		title="Psychic Octophant - A Project Manager"
		link(href="css/stylesheet.css" rel="stylesheet")
	body
		section.itemList
			each company in companies
				a(href="/ProjectList")
					.item
						table.itemTable.horiz-center
							tr
								td.shrink
									.tableWrapper
										if company.image
											img.itemImage(src="/image/"+company.image)
										else 
											img.itemImage(src="http://lorempixel.com/100/100/abstract/")
								td
									h3.itemName.left= company.name
									p.itemDescription.left= company.description
								td
									.tableWrapper
										img.icon(src="img/edit.png")
			a(href="CompanyAdd")
				img.icon(src="img/add.png")