- var companies = {companies: [{name: "Dressiety", description: "Eine Modeplattform", img: "http://lorempixel.com/100/100/abstract/"}, {name: "BCB", description: "Bank Project Management", img: "http://lorempixel.com/100/100/abstract/"}]}
html
	head
		title="Psychic Octophant - A Project Manager"
		link(href="css/stylesheet.css" rel="stylesheet")
	body
		section.itemList
			each company in companies.companies
				a(href="/ProjectList")
					.item
						table.itemTable
							tr
								td.shrink
									.tableWrapper
										img.itemImage(src= company.img)
									
								td
									h3.itemName.left= company.name
									p.itemDescription.left= company.description