html(ng-app="psychicOctophant")
	head
		title="Psychic Octophant - A Project Manager"
		link(href="../css/stylesheet.css" rel="stylesheet")
	body
		.horiz-center.form
			h2 Neues Unternehmen erstellen
			form(method="post")
				table
					tr
						td
							p.right Name
						td
							input.textInput(type="text" name="Name")
					tr
						td
							p.right Beschreibung
						td
							input.textInput(type="text" name="Description")
					tr
						td
							p.right Bild-URL
						td
							input.textInput(type="text" name="Image")
				
				input(type="submit" name="Submit")