include ./header.jade

h1 Neues Unternehmen anlegen

include ./errors.jade

if status == 'success'
	p.success Das Unternehmen "#{data.company.name}" wurde erfolgreich angelegt.

form(method="POST" action="/CompanyAdd?sessionId=#{sessionId}")
	div.field
		label Name
		input(type="text" name="name" required="required")
	div.field
		label Beschreibung
		textarea(name="description")
	input(type="submit" value="Anlegen")