include ./header.jade

h1 Fonds-Kunde anlegen

p Fonds: #{data.fonds.name}

form(method="POST" action="/FondsCustomerAdd?sessionId=#{sessionId}")
	div.field
		label Name
		input(type="text" name="name" required="required")
	div.field
		label Initial Deposit (EUR)
		input(type="number" name="depositInitial" steps="0.01")
	div.field
		label Maximum Deposit (EUR)
		input(type="number" name="depositMax" steps="0.01")
	input(type="hidden" name="fondsId" value="#{data.fonds._id}")
	input(type="submit" value="Anlegen")