
<html>
<head>
	<link href="css/stylesheet.css" rel="stylesheet">
</head>
<body>
	<section class="projectList">
		<div class="project">
			<table class="projectTable">
				<tr>
					<td>
						<div class="tableWrapper">
							<img src="http://lorempixel.com/100/100/abstract/" class="projectImage">
						</div>
						
					</td>
					<td class="top left">
						<h3 class="projectName">Dressiety</h3>
						<p class="projectDescription">Eine Modeplattform</p>
					</td>
					<td class="top right">
						<div class="projectNumbers">
							<div class="green">200</div>
							<div class="separator">|</div>
							<div class="blue">175</div>
							<div class="separator">|</div>
							<div class="red">35</div>
						</div>
					</td>
				</tr>
				<tr>
					<td colspan="3">
						<div class="progressBar">
							<div class="green"></div>
							<div class="blue"></div>
							<div class="red"></div>
						</div>
					</td>
					
				</tr>
			</table>
		</div>
	</section>
</body>
</html>