html(ng-app="psychicOctophant")
	head
		title="Psychic Octophant - A Project Manager"
		link(href="css/stylesheet.css" rel="stylesheet")
		script(type="text/javascript").
			var numbers = $scope.project.numbers
			var factor = 100.0 / (numbers[0] + numbers[1] + numbers[2])
			$scope.greenWidth = numbers[0] * factor
			$scope.blueWidth = numbers[1] * factor
			$scope.redWidth = numbers[2] * factor
	body
		section.itemList
			.item(ng-repeat="project in projects")
				table.itemTable
					tr
						td.shrink
							.tableWrapper
								img.itemImage(src="{{project.img}}")
						td.top.left
							h3.itemName {{project.name}}
							p.itemDescription {{project.description}}
						td.top.right
							.itemNumbers
								.green {{project.numbers[0]}}
								.separator |
								.blue {{project.numbers[1]}}
								.separator |
								.red {{project.numbers[2]}}
					tr
						td(colspan="3")
							.progressBar
								.green(style="width: " + greenWidth + "%")
								.blue( style="width: " + blueWidth + "%")
								.red(  style="width: " + redWidth + "%")
			a(href="ProjectAdd.html")
				img.icon(src="img/add.png")