include ./header.jade

h1 Neues Projekt erstellen

include ./errors.jade

if status == 'success'
	p.success Das Projekt #{data.project.name} wurde erfolgreich erstellt.

form(method="post" action="/ProjectAdd?sessionId=#{sessionId}")
	div.field
		label Name
		input(type="text" name="name" required="required")
	div.field
		label Beteiligte Unternehmen
		select(name="companies" multiple="multiple" required="required")
			each company in data.companies
				option(value="#{company._id}") #{company.name}
	input(type="submit" value="Erstellen")