include ./header.jade

h1 Registrieren

include ./errors.jade

if status == 'success'
	p.success Sie wurden erfolgreich registriert und angemeldet.

if !userId
	form(method="POST" action="/UserAdd?sessionId=#{sessionId}")
		div.field
			label Benutzername
			input(type="text" name="username" required="required")
		div.field
			label E-Mail Adresse
			input(type="email" name="email" required="required")
		div.field
			label Vorname
			input(type="text" name="nameFirst")
		div.field
			label Nachname
			input(type="text" name="nameLast")
		div.field
			label Passwort
			input(type="password" name="password" required="required")
		input(type="submit" value="Registrieren")